@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body{
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #19314E;
}

h1, h2, h3, h4, h5, h6, p, th, td, a{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.sidebar{
    float: left;
    width: 17%;
    height: 100%;
    background-color: #0E1B2B;
    padding: 0;
    margin: 0;
}

.sidebar ul{
    text-align: center;
    padding: 0px;
}

.sidebar li{
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}

.sidebar li a{
    font-size: 28px;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    background-color: #0E1B2B;
    font-weight: 600;
}

.sidebar li a:hover{
    color: #0E1B2B;
    background-color: #ffffff;
}

.main{
    width: auto;
    height: 100vh;
}

.sidebar-logo{
    width: 100%;
    height: auto;
}

.dashboard-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.dashboard-profile {
    display: flex;
    align-items: center;
}

.profile-name, .profile-image {
    display: flex;
    align-items: center;
}

.heading-line {
    width: 100%;
    border-top: 3px solid #0E1B2B;
    margin-bottom: 50px;
}

.profile-image {
    margin-left: 20px;
}

.dashboard-summary{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.dashboard-summary-block{
    text-align: center;
    background-color: #0E1B2B;
    margin: 0;
    padding: 10px;
    border-radius: 15px;
    vertical-align: middle;
    width: 20%;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
}

.upcoming-appointments{
    padding: 20px;
    text-align: center;
}

.upcoming-appointments-body{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.upcoming-appointments-body table{
    border: 2px solid #0E1B2B;
    overflow-y: auto;
    height: 300px;
    display: block;
}

.upcoming-appointments-body th, .upcoming-appointments td{
    /* border-left: 2px solid #0E1B2B; */
    /* border-right: 2px solid #0E1B2B; */
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.upcoming-appointments-body thead{
    background-color: #0E1B2B;
}

.upcoming-appointments-body tbody{
    background-color: #19314E;
}

.registrations-main{
    padding: 20px;
    text-align: center;
}

.registrations-body{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.registrations-body table{
    border: 2px solid #0E1B2B;
    overflow-y: auto;
    height: 300px;
    display: block;
}

.registrations-body th, .registrations-body td{
    /* border-left: 2px solid #0E1B2B; */
    /* border-right: 2px solid #0E1B2B; */
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.registrations-body thead{
    background-color: #0E1B2B;
}

.registrations-body tbody{
    background-color: #19314E;
}

.prescriptions-main{
    padding: 20px;
    text-align: center;
}

.prescriptions-body{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.prescriptions-body table{
    border: 2px solid #0E1B2B;
    overflow-y: auto;
    height: 300px;
    display: block;
}

.prescriptions-body th, .prescriptions-body td{
    /* border-left: 2px solid #0E1B2B; */
    /* border-right: 2px solid #0E1B2B; */
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.prescriptions-body thead{
    background-color: #0E1B2B;
}

.prescriptions-body tbody{
    background-color: #19314E;
}

.invoices-main{
    padding: 0px;
    text-align: center;
}

.invoices-body{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.invoices-body table{
    border: 2px solid #0E1B2B;
    overflow-y: auto;
    height: 500px;
    display: block;
}

.invoices-body th, .invoices-body td{
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

.invoices-body thead{
    background-color: #0E1B2B;
}

.invoices-body tbody{
    background-color: #19314E;
}

.invoices-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #0E1B2B;
    color: #FEFEFD;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.invoices-button:hover {
    background-color: #FEFEFD;
    color: #0E1B2B;
}

.visit-history-main{
    padding: 0px;
    text-align: center;
}

.visit-history-body{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.visit-history-body table{
    border: 2px solid #0E1B2B;
    overflow-y: auto;
    height: 500px;
    display: block;
}

.visit-history-body th, .visit-history-body td{
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

.visit-history-body thead{
    background-color: #0E1B2B;
}

.visit-history-body tbody{
    background-color: #19314E;
}

.settings-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.settings-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px; 
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
    background-color: #0E1B2B;
    border-radius: 15px;
    margin: 10px;
}

input[type="email"],
input[type="password"] {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 10px;
    vertical-align: middle;
}
.search-form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.search-input {
    width: 80%;
    padding: 10px;
    border: 1px solid #0E1B2B;
    border-radius: 4px;
}

.search-button {
    width: 15%;
    padding: 10px 20px;
    background-color: #0E1B2B;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.records-body table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.records-body th, .records-body td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #0E1B2B;
}

.records-body thead {
    background-color: #0E1B2B;
    color: white;
}

.records-body tbody tr:hover {
    background-color: #0E1B2B;
}

input{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #19314E;
    color: #D9D9D9;
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: none;
}

::placeholder {
    color: #D9D9D9;
    opacity: 0;
}

:-ms-input-placeholder { 
    color: #D9D9D9;
}

::-ms-input-placeholder {
    color: #D9D9D9;
}

.settings-form button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #0E1B2B;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.settings-form button:hover {
    background-color: #19314E;
    color: #FEFEFD;
}

.form-actions {
    display: flex;
    justify-content: center;
    width: 100%;
}

.settings-form label {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 16px;
}

.alert.alert-danger {
    color: #FFBA1E;
    font-family: 'Poppins', sans-serif;
}

.settings-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.settings-form, .right-container {
    margin-bottom: 20px;
}

.right-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.delete-account-box .form-actions button {
    margin-top: 0;
}

.alert-success {
    color: #FFBA1E;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}
