body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #2d3e50;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container for the form */
.login-container {
    width: 350px;
    padding: 40px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

/* Logo styling */
.login-logo img {
    max-width: 100px; /* Adjust as needed */
    margin-bottom: 20px; /* Space between logo and form */
}

/* Style for the form itself */
.login-form {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #333;
    font-weight: 300;
}

/* Input fields styling */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box; /* So that padding does not affect width */
    border-radius: 4px;
}

/* Button specific styling */
input[type="submit"] {
    background-color: #5cb85c; /* Replace with the color of your button in the image */
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    opacity: 0.8;
}

/* Remember Me Checkbox styling */
.remember-me-container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0;
}

.remember-me-container input[type="checkbox"] {
    margin-right: 5px; /* Space between checkbox and label */
}

/* Error message styling */
.error {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}

/* Link styling */
a {
    color: #5cb85c; /* Use color that matches your theme */
    text-decoration: none;
    font-size: 0.9em;
}

a:hover {
    text-decoration: underline;
}