@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body{
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #19314E;
}

h1, h2, h3, h4, h5, h6, p, th, td, a{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.sidebar{
    float: left;
    width: 17%;
    height: 100%;
    background-color: #0E1B2B;
    padding: 0;
    margin: 0;
}

.sidebar ul{
    text-align: center;
    padding: 0px;
}

.sidebar li{
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}

.sidebar li a{
    font-size: 28px;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    background-color: #0E1B2B;
    font-weight: 600;
}

.sidebar li a:hover{
    color: #0E1B2B;
    background-color: #ffffff;
}

.main{
    width: auto;
    height: 100vh;
}

.sidebar-logo{
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

.dashboard-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.dashboard-profile {
    display: flex;
    align-items: center;
}

.profile-name, .profile-image {
    display: flex;
    align-items: center;
}

.heading-line {
    width: 100%;
    border-top: 3px solid #0E1B2B;
    margin-bottom: 50px;
}

.profile-image {
    margin-left: 20px;
}
.dashboard-summary{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.dashboard-summary-block{
    text-align: center;
    background-color: #0E1B2B;
    margin: 0;
    padding: 10px;
    border-radius: 15px;
    vertical-align: middle;
    width: 20%;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
}
.patient-dashboard-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.patient-dashboard-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    max-width: 40%;
}

.patient-dashboard-right {
    flex: 1;
    max-width: 58%;
}

.patient-dashboard-summary-block {
    margin-bottom: 10px;
    text-align: center;
    background-color: #0E1B2B;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}


.patient-dashboard-summary-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.upcoming-appointments{
    padding: 20px;
    text-align: center;
}

.upcoming-appointments-body{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.upcoming-appointments-body table{
    border: 2px solid #0E1B2B;
    overflow-y: auto;
    height: 300px;
    display: block;
}

.upcoming-appointments-body th, .upcoming-appointments td{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.upcoming-appointments-body thead{
    background-color: #0E1B2B;
}

.upcoming-appointments-body tbody{
    background-color: #19314E;
}

.registrations-main{
    padding: 20px;
    text-align: center;
}

.registrations-body{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.registrations-body table{
    border: 2px solid #0E1B2B;
    overflow-y: auto;
    height: 300px;
    display: block;
}

.registrations-body th, .registrations-body td{
    /* border-left: 2px solid #0E1B2B; */
    /* border-right: 2px solid #0E1B2B; */
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.registrations-body thead{
    background-color: #0E1B2B;
}

.registrations-body tbody{
    background-color: #19314E;
}

.prescriptions-main{
    padding: 20px;
    text-align: center;
}

.prescriptions-body{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.prescriptions-body table{
    border: 2px solid #0E1B2B;
    overflow-y: auto;
    height: 300px;
    display: block;
}

.prescriptions-body th, .prescriptions-body td{
    /* border-left: 2px solid #0E1B2B; */
    /* border-right: 2px solid #0E1B2B; */
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.prescriptions-body thead{
    background-color: #0E1B2B;
}

.prescriptions-body tbody{
    background-color: #19314E;
}

.invoices-main{
    padding: 0px;
    text-align: center;
}

.invoices-body{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.invoices-body table{
    border: 2px solid #0E1B2B;
    overflow-y: auto;
    height: 500px;
    display: block;
}

.invoices-body th, .invoices-body td{
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

.invoices-body thead{
    background-color: #0E1B2B;
}

.invoices-body tbody{
    background-color: #19314E;
}

.invoices-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #0E1B2B;
    color: #FEFEFD;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.invoices-button:hover {
    background-color: #FEFEFD;
    color: #0E1B2B;
}

.visit-history-main{
    padding: 0px;
    text-align: center;
}

.visit-history-body{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.visit-history-body table{
    border: 2px solid #0E1B2B;
    overflow-y: auto;
    height: 500px;
    display: block;
}

.visit-history-body th, .visit-history-body td{
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

.visit-history-body thead{
    background-color: #0E1B2B;
}

.visit-history-body tbody{
    background-color: #19314E;
}

.settings-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.settings-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px; 
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
    background-color: #0E1B2B;
    border-radius: 15px;
    margin: 10px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"] {
    width: 100%;
}

input[type="email"],
input[type="password"] {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 10px;
    vertical-align: middle;
}

.search-form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.search-input {
    width: 80%;
    padding: 10px;
    border: 1px solid #0E1B2B;
    border-radius: 4px;
}

.search-button {
    width: 15%;
    padding: 10px 20px;
    background-color: #0E1B2B;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.records-body table {
    width: 40%;
    border-collapse: collapse;
    margin-top: 20px;
}

.records-body th, .records-body td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #0E1B2B;
}

.records-body thead {
    background-color: #0E1B2B;
    color: white;
}

.records-body tbody tr:hover {
    background-color: #0E1B2B;
}

input{
    font-family: 'Poppins', sans-serif;
    width: 70%;
    padding: 10px;
    margin: 5px 0;
    background-color: #19314E;
    color: #D9D9D9;
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: none;
    justify-content: center;
}

::placeholder {
    color: #D9D9D9;
    opacity: 0;
}

:-ms-input-placeholder { 
    color: #D9D9D9;
}

::-ms-input-placeholder {
    color: #D9D9D9;
}

.settings-form button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #0E1B2B;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.settings-form button:hover {
    background-color: #19314E;
    color: #FEFEFD;
}

.form-actions {
    display: flex;
    justify-content: center; 
    width: 100%;
}

.settings-form label {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 16px;
}

.alert.alert-danger {
    color: #FFBA1E;
    font-family: 'Poppins', sans-serif;
}

.reports-body{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.reports-body table{
    border: 2px solid #0E1B2B;
    overflow-y: auto;
    height: 300px;
    display: block;
}

.reports-body th, .reports-body td{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.reports-body thead{
    background-color: #0E1B2B;
}

.reports-body tbody{
    background-color: #19314E;
}

.settings-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.settings-form, .right-container {
    margin-bottom: 20px;
}

.right-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.delete-account-box .form-actions button {
    margin-top: 0;
}

.alert-success {
    color: #FFBA1E;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}
.change-surgery-request {
    padding: 20px;
    background-color: #0E1B2B;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 50%;
    margin: 20px auto;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.change-surgery-request h2 {
    color: white;
    padding: 10px;
    margin-top: 0;
    border-radius: 10px 10px 0 0;
}

.change-surgery-request fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.change-surgery-request legend {
    display: none;
}

.change-surgery-request .form-group {
    margin: 10px 20px;
}

.change-surgery-request .form-group label,
.change-surgery-request .form-group input,
.change-surgery-request .form-group textarea {
    width: calc(100% - 40px);
    display: block;
    margin-bottom: 10px;
}

.change-surgery-request .form-group input,
.change-surgery-request .form-group textarea {
    background-color: #19314E;
    border: 1px solid #0E1B2B;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.change-surgery-request .form-group textarea {
    resize: none;
}

.change-surgery-request button {
    width: auto;
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #0E1B2B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.change-surgery-request button:hover {
    background-color: #19314E; 
}

.booking-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #19314E;
}

.booking-box {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #0E1B2B;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.booking-box h2 {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.booking-body form {
    width: 100%;
}

.book-appointment-table {
    width: 100%;
}

.book-appointment-table th, 
.book-appointment-table td {
    text-align: left;
}

.book-appointment-table .booking-form-button {
    display: block;
    margin: 20px auto;
    width: auto;
}

.upcoming-appointments-table th, 
.upcoming-appointments-table td {
    width: 20%;
    text-align: left;
}

.upcoming-appointments-table {
    width: 100%;
}

.booking-form-button {
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #FEFEFD;
    color: #0E1B2B;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    margin-top: 20px;
}

.cancel-appointment-button {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #FEFEFD;
    color: #0E1B2B;
    border: none;
    padding: 5px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    margin-top: 0px;
}

.booking-form-button:hover, 
.cancel-appointment-button:hover {
    background-color: #19314E;
    color: #FEFEFD;
}

.alert {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    color: #FFBA1E;
    background-color: #0E1B2B;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
}

.booking-box form select,
.booking-box form input[type='date'] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #19314E;
    color: #FEFEFD;
    border: 2px solid #0E1B2B;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.booking-box form select {
    background-image: url('dropdown-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
}

.booking-box form select:focus,
.booking-box form input[type='date']:focus {
    outline: none;
    border-color: #FFBA1E;
}

.payments-main{
    padding: 0px;
    text-align: center;
}

.payments-body{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.payments-body table{
    border: 2px solid #0E1B2B;
    overflow-y: auto;
    height: 500px;
    display: block;
}

.payments-body th, .payments-body td{
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

.payments-body thead{
    background-color: #0E1B2B;
}

.payments-body tbody{
    background-color: #19314E;
}

.payments-button {
    justify-content: center;
    align-items: center;
    background-color: #0E1B2B;
    color: #FEFEFD;
    border: none;
    padding: 5px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    width: auto;
}

.payments-button:hover {
    background-color: #FEFEFD;
    color: #0E1B2B;
}

.payments-button-large {
    justify-content: center;
    align-items: center;
    background-color: #0E1B2B;
    color: #FEFEFD;
    border: none;
    padding: 10px 40px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
    width: auto;
}

.payments-button-large:hover {
    background-color: #FEFEFD;
    color: #0E1B2B;
}


.pay-verify-top, .pay-verify-middle, .pay-verify-bottom  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pay-verify-top{
    font-size: 50px;
}

.pay-verify-middle{
    font-size: 80px;
}

.pay-verify-bottom{
    font-size: 50px;
}

.pay-verify-button {
    justify-content: center;
    align-items: center;
    background-color: #0E1B2B;
    color: #FEFEFD;
    border: none;
    padding: 15px 50px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-decoration: none;
    width: auto;
}

.pay-verify-button:hover {
    background-color: #FEFEFD;
    color: #0E1B2B;
}


.pay-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.pay-details {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: fit-content;
}

.pay-button {
    justify-content: center;
    align-items: center;
    background-color: #0E1B2B;
    color: #FEFEFD;
    border: none;
    padding: 15px 50px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 26px;
    text-decoration: none;
    width: auto;
}

.pay-button:hover {
    background-color: #FEFEFD;
    color: #0E1B2B;
}


.pay-success {
    text-align: center;
    padding-top: 50px;
}

.pay-success-button {
    justify-content: center;
    align-items: center;
    background-color: #0E1B2B;
    color: #FEFEFD;
    border: none;
    padding: 15px 50px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
    width: auto;
}

.pay-success-button:hover {
    background-color: #FEFEFD;
    color: #0E1B2B;
}


.left-side-button {
    position: fixed;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.left-side-button img {
    width: 100%;
    height: auto;
}


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.operations-heading {
    text-align: center;
}

.operations-body{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.operations-body table{
    border: 2px solid #0E1B2B;
    overflow-y: auto;
    height: 300px;
    display: block;
}

.operations-body th, .operations-body td{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.operations-body thead{
    background-color: #0E1B2B;
}

.operations-body tbody{
    background-color: #19314E;
}

.operations-heading label{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
