@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body{
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #19314E;
}

h1, h2, h3, h4, h5, h6, p, th, td, a{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.sidebar{
    float: left;
    width: 17%;
    height: 100%;
    background-color: #0E1B2B;
    padding: 0;
    margin: 0;
}

.sidebar ul{
    text-align: center;
    padding: 0px;
}

.sidebar li{
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}

.sidebar li a{
    font-size: 28px;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    background-color: #0E1B2B;
    font-weight: 600;
}

.sidebar li a:hover{
    color: #0E1B2B;
    background-color: #ffffff;
}

.main{
    width: auto;
    height: 100vh;
}

.sidebar-logo{
    width: 100%;
    height: auto;
}

.dashboard-heading{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.dashboard-profile{
    display: flex;
    justify-content: space-between;
}

.dashboard-summary{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.dashboard-summary-block{
    text-align: center;
    background-color: #0E1B2B;
    margin: 0;
    padding: 10px;
    border-radius: 15px;
    vertical-align: middle;
    width: 20%;
}

.upcoming-appointments{
    padding: 20px;
    text-align: center;
}

.upcoming-appointments-body{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.upcoming-appointments-body table{
    border: 2px solid #0E1B2B;
    overflow-y: scroll;
    height: 300px;
    display: block;
}

.upcoming-appointments-body th, .upcoming-appointments td{
    /* border-left: 2px solid #0E1B2B; */
    /* border-right: 2px solid #0E1B2B; */
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.upcoming-appointments-body thead{
    background-color: #0E1B2B;
}

.upcoming-appointments-body tbody{
    background-color: #19314E;
}

.registrations-main{
    padding: 20px;
    text-align: center;
}

.registrations-body{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.registrations-body table{
    border: 2px solid #0E1B2B;
    overflow-y: scroll;
    height: 300px;
    display: block;
}

.registrations-body th, .registrations-body td{
    /* border-left: 2px solid #0E1B2B; */
    /* border-right: 2px solid #0E1B2B; */
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.registrations-body thead{
    background-color: #0E1B2B;
}

.registrations-body tbody{
    background-color: #19314E;
}

.prescriptions-main{
    padding: 20px;
    text-align: center;
}

.prescriptions-body{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.prescriptions-body table{
    border: 2px solid #0E1B2B;
    overflow-y: scroll;
    height: 300px;
    display: block;
}

.prescriptions-body th, .prescriptions-body td{
    /* border-left: 2px solid #0E1B2B; */
    /* border-right: 2px solid #0E1B2B; */
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.prescriptions-body thead{
    background-color: #0E1B2B;
}

.prescriptions-body tbody{
    background-color: #19314E;
}

.invoices-main{
    padding: 20px;
    text-align: center;
}

.invoices-body{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.invoices-body table{
    border: 2px solid #0E1B2B;
    overflow-y: scroll;
    height: 300px;
    display: block;
}

.invoices-body th, .invoices-body td{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.invoices-body thead{
    background-color: #0E1B2B;
}

.invoices-body tbody{
    background-color: #19314E;
}

.invoices-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #0E1B2B;
    color: #FEFEFD;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.invoices-button:hover {
    background-color: #FEFEFD;
    color: #0E1B2B;
}

@media print {
    body {
        /* Print-specific styles here */
    }
    .invoice-print {
        /* Styles for the invoice printout */
    }
    /* Hide elements not needed for printing */
    .navbar, .footer, button {
        display: none;
    }
}