html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, th, td, a{
    color: #ffffff;
    font-family: sans-serif;
}

.sidebar{
    float: left;
    width: 17%;
    height: 100%;
    background-color: #0E1B2B;
    padding: 0;
    margin: 0;
}

.sidebar ul{
    text-align: center;
    padding: 0px;
}

.sidebar li{
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}

.sidebar li a{
    font-size: 28px;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    background-color: #0E1B2B;
    font-weight: 600;
}

.sidebar li a:hover{
    color: #0E1B2B;
    background-color: #ffffff;
}

.main{
    background-color: #19314E;
    width: auto;
    height: 100%;
}

.sidebar-logo{
    width: 100%;
    height: auto;
}

.dashboard-heading{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.dashboard-profile{
    display: flex;
    justify-content: space-between;
}

.appointment-summary{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.appointment-summary-block{
    text-align: center;
    background-color: #0E1B2B;
    margin: 0;
    padding: 10px;
    border-radius: 15px;
    vertical-align: middle;
    width: 20%;
}


.upcoming-appointments{
    padding: 20px;
    text-align: center;
}

.upcoming-appointments-body{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.upcoming-appointments-body table{
    border: 2px solid #0E1B2B;
    /* width: 80%; */
    overflow-y: scroll;
    height: 300px;
    display: block;
}

.upcoming-appointments-body th, .upcoming-appointments td{
    /* border-left: 2px solid #0E1B2B; */
    /* border-right: 2px solid #0E1B2B; */
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.upcoming-appointments-body thead{
    background-color: #0E1B2B;
}

.upcoming-appointments-body tbody{
    background-color: #19314E;
}