{% extends "patients/dashboard_layout.html" %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}
<div class="dashboard-summary">
    <div class="dashboard-summary-block">
        <h3>Appointments today</h3>
        <h2>{{ completed_appointments }} Completed</h2>
        <h2>{{ scheduled_appointments }} Remaining</h2>
    </div>
    <div class="dashboard-summary-block">
        <h3>Date and time</h3>
        <h2>{% now "jS F Y" %}</h2>
        <h2>{% now "H:i" %}</h2>
    </div>
</div>
{% endblock %}