{% extends "patients/dashboard_layout.html" %}
{% block title %}Book Appointment{% endblock %}
{% block content %}
<div class="booking-container">
    <div class="booking-box">
        <h2>Book Appointment</h2>
        <div class="booking-body">
            <form method="post" action="{% url 'book_appointment' %}">
                {% csrf_token %}
                <table class="book-appointment-table">
                    <tbody>
                        {% for field in form %}
                        <tr>
                            <th>{{ field.label }}</th>
                            <td>{{ field }}
                                {% if field.errors %}
                                    <div class="alert alert-danger">{{ field.errors|striptags }}</div>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="2">
                                <button type="submit" class="booking-form-button">Book Appointment</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
            </form>
        </div>
    </div>

    <div class="booking-box">
        <h2>Upcoming Appointments</h2>
        <div class="booking-body">
            <table class="upcoming-appointments-table">
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Practitioner</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
                {% for appointment in current_appointments %}
                <tr>
                    <td>{{ appointment.date }}</td>
                    <td>{{ appointment.appointment_time }}</td>
                    <td>{{ appointment.doctor.name }}</td>
                    <td>{{ appointment.patient_type }}</td>
                    <td>
                        <form method="post" action="{% url 'book_appointment' %}">
                            {% csrf_token %}
                            <button type="submit" name="cancel_appointment" value="{{ appointment.appointmentID }}" class="cancel-appointment-button">Cancel</button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No upcoming appointments.</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        if (calendarEl) { 
            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid', 'timeGrid'],
                initialView: 'timeGridWeek',
                slotDuration: '00:10:00',
                events: '/events/', 
                dateClick: function(info) {
                },
                eventClick: function(info) {
                }
            });
            calendar.render();
        }
    });
</script>
{% endblock %}