{% extends "patients/dashboard_layout.html" %}
{% block title %}
Current appointment
{% endblock %}
{% block content %}
<div class="dashboard-summary">
    {% if current_appointment %}
    <h2>Current appointment</h2>
    {% else %}
    <h2>No current appointments</h2>
    {% endif %}
</div>
{% if current_appointment %}
<div class="dashboard-summary">
    <div>
        <h3>Patient name: {{ current_appointment.patient.name }}</h3>
        <br>
    </div>
</div>
<div class="dashboard-summary">
    <div class="dashboard-summary-block">
        <h4>Add a prescription</h4>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add prescription</button>
        </form>
        <h4>{{ message }}</h4>
    </div>
</div>
{% endif %}
{% endblock %}