{% extends "patients/dashboard_layout.html" %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}
<div class="dashboard-summary">
    <div class="dashboard-summary-block">
        <h3>Appointments today</h3>
        <h2>{{ completed_appointments }} Completed</h2>
        <h2>{{ scheduled_appointments }} Remaining</h2>
    </div>
    <div class="dashboard-summary-block">
        <h3>Date and time</h3>
        <h2>{% now "jS F Y" %}</h2>
        <h2>{% now "H:i" %}</h2>
    </div>
    <div class="dashboard-summary-block">
        <h3>Next appointment</h3>
        <h2>{{ next_appointment.patient.name }}</h2>
        <h2>{{ next_appointment.appointment_time }}</h2>
    </div>
</div>
<div class="upcoming-appointments">
    <h2>Todays appointments</h2>
    <div class="upcoming-appointments-body">
        <table>
            <thead>
                <tr>
                    <th>Patient</th>
                    <th>Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.patient.name }}</td>
                    <td>{{ appointment.appointment_time }}</td>
                    <td>{{ appointment.appointment_status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}