{% extends "patients/dashboard_layout.html" %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}
<div class="appointment-summary">
    <div class="appointment-summary-block">
        <h3>Appointments today</h3>
        <h2>1 Completed</h2>
        <h2>22 Remaining</h2>
    </div>
    <div class="appointment-summary-block">
        <h3>Date and time</h3>
        <h2>{% now "jS F Y" %}</h2>
        <h2>{% now "H:i" %}</h2>
    </div>
    <div class="appointment-summary-block">
        <h3>Next appointment</h3>
        <h2>John Doe</h2>
        <h2>10 minutes</h2>
    </div>
</div>
<div class="upcoming-appointments">
    <h2>Upcoming appointments</h2>
    <div class="upcoming-appointments-body">
        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Duration</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>08:15</td>
                    <td>10 mins</td>
                    <td>John Doe</td>
                    <td>40</td>
                    <td>Some reason</td>
                </tr>
                <tr>
                    <td>08:15</td>
                    <td>10 mins</td>
                    <td>John Doe</td>
                    <td>40</td>
                    <td>Some reason</td>
                </tr>
                <tr>
                    <td>08:15</td>
                    <td>10 mins</td>
                    <td>John Doe</td>
                    <td>40</td>
                    <td>Some reason</td>
                </tr>
                <tr>
                    <td>08:15</td>
                    <td>10 mins</td>
                    <td>John Doe</td>
                    <td>40</td>
                    <td>Some reason</td>
                </tr>
                <tr>
                    <td>08:15</td>
                    <td>10 mins</td>
                    <td>John Doe</td>
                    <td>40</td>
                    <td>Some reason</td>
                </tr>
                <tr>
                    <td>08:15</td>
                    <td>10 mins</td>
                    <td>John Doe</td>
                    <td>40</td>
                    <td>Some reason</td>
                </tr>
                <tr>
                    <td>08:15</td>
                    <td>10 mins</td>
                    <td>John Doe</td>
                    <td>40</td>
                    <td>Some reason</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}