{% extends "patients/dashboard_layout.html" %}
{% block title %}
Prescriptions
{% endblock %}
{% block content %}
<div class="prescriptions-main">
    <h2>Patient prescriptions</h2>
    <div class="prescriptions-body">
        <table>
            <thead>
                <tr>
                    <th>Patient name</th>
                    <th>Patient ID</th>
                    <th>Presciption name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Change issue status</th>
                </tr>
            </thead>
            <tbody>
                {% for prescription in requested_prescriptions %}
                <tr id="{{ prescription.prescriptionID }}">
                    <td>{{ prescription.patient.name }}</td>
                    <td>{{ prescription.patient.userID }}</td>
                    <td>{{ prescription.title }}</td>
                    <td>{{ prescription.description }}</td>
                    <td>{{ prescription.status }}</td>
                    {% if prescription.status == "Re-issue requested" %}
                    <td><button name="accept-re-issue-button" onclick="accept_reissue('{{ prescription.prescriptionID }}')">Accept re-issue</button></td>
                    {% elif prescription.status == "Inactive" %}
                    <td><button name="accept-re-issue-button" onclick="accept_reissue('{{ prescription.prescriptionID }}')">Re-issue</button></td>
                    {% else %}
                    <td><button name="accept-re-issue-button" onclick="un_issue('{{ prescription.prescriptionID }}')">Un-issue</button></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h3 hidden id="success-message"></h3>
</div>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function accept_reissue(prescriptionID) 
    {
        $.ajax({
            url: "{% url 'reissue_prescription' %}",
            type: "POST",
            data: { data: prescriptionID, 'csrfmiddlewaretoken': '{{ csrf_token }}' }, // data to pass
            // handle success
            success: function(json) {
                // remove row
                var row = document.getElementById(prescriptionID);
                row.getElementsByTagName("td")[4].innerHTML = "Active";
                row.getElementsByTagName("td")[5].remove();
                // display success message
                var success_message = document.getElementById("success-message");
                success_message.innerHTML = "Re-issued " + json.prescription_name + " for " + json.user_name;
                success_message.removeAttribute('hidden');
            },
            // handle error
            error: function(xhr, errmsg, err) {
                // alert("error\nerrmsg: " + errmsg + "\nerr: " + err + "\nend\nStatus:" + xhr.status + ": " + xhr.responseText);
                var success_message = document.getElementById("success-message");
                success_message.innerHTML = "Error: Was not successful";
                success_message.removeAttribute('hidden');
            }
        });
    };

    function un_issue(prescriptionID)
    {
        $.ajax({
            url: "{% url 'unissue_prescription' %}",
            type: "POST",
            data: { data: prescriptionID, 'csrfmiddlewaretoken': '{{ csrf_token }}' }, // data to pass
            // handle success
            success: function(json) {
                // remove row
                var row = document.getElementById(prescriptionID);
                row.getElementsByTagName("td")[4].innerHTML = "Inactive";
                row.getElementsByTagName("td")[5].remove();
                // display success message
                var success_message = document.getElementById("success-message");
                success_message.innerHTML = "Un-issued " + json.prescription_name + " for " + json.user_name;
                success_message.removeAttribute('hidden');
            },
            // handle error
            error: function(xhr, errmsg, err) {
                // alert("error\nerrmsg: " + errmsg + "\nerr: " + err + "\nend\nStatus:" + xhr.status + ": " + xhr.responseText);
                var success_message = document.getElementById("success-message");
                success_message.innerHTML = "Error: Was not successful";
                success_message.removeAttribute('hidden');
            }
        });
    }
</script>
{% endblock javascript %}
{% endblock %}