{% extends "patients/dashboard_layout.html" %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}
<div class="dashboard-summary">
    <div class="dashboard-summary-block">
        <h3>Appointments today</h3>
        <h2>1 Completed</h2>
        <h2>22 Remaining</h2>
    </div>
    <div class="dashboard-summary-block">
        <h3>Date and time</h3>
        <h2>{% now "jS F Y" %}</h2>
        <h2>{% now "H:i" %}</h2>
    </div>
    <div class="dashboard-summary-block">
        <h3>Next appointment</h3>
        <h2>John Doe</h2>
        <h2>10 minutes</h2>
    </div>
</div>
<div class="upcoming-appointments">
    <h2>Upcoming appointments</h2>
    <div class="upcoming-appointments-body">
        <table>
            <thead>
                <tr>
                    <th>Patient</th>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.patient.name }}</td>
                    <td>{{ appointment.doctor.name }}</td>
                    <td>{{ appointment.date }}</td>
                    <td>{{ appointment.time }}</td>
                    <td>{{ appointment.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}