{% extends "patients/dashboard_layout.html" %}
{% block title %}
Registrations
{% endblock %}
{% block content %}
<div class="dashboard-summary">
    <h1>Doctor and nurse verifications</h1>
</div>
<div class="dashboard-summary">
    <div class="registrations-main">
        <h2>Registrations to verify</h2>
        <div class="registrations-body">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Verify</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in unverified_users %}
                    <tr id="{{ user.userID }}">
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                        <td><button name="verify-button" onclick="verify_user('{{ user.userID }}')">Verify</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h4 hidden id="verify-message"></h4>
    </div>
    <div class="registrations-main">
        <h2>Account deletions to verify</h2>
        <div class="registrations-body">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Verify</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in deleted_users %}
                    <tr id="{{ user.userID }}">
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                        <td><button name="deletion-verify-button" onclick="verify_deletion('{{ user.userID }}')">Verify</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h4 hidden id="deletion-verify-message"></h4>
    </div>
</div>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function verify_user(userID) 
    {
        $.ajax({
            url: "{% url 'verify_user' %}",
            type: "POST",
            data: { data: userID, 'csrfmiddlewaretoken': '{{ csrf_token }}' },

            success: function(json) {

                var row = document.getElementById(userID);
                row.parentNode.removeChild(row);
                var verify_message = document.getElementById("verify-message");
                verify_message.innerHTML = "Successfully verified user: " + json.userID;
                verify_message.removeAttribute('hidden');
            },
            error: function(xhr, errmsg, err) {
                var verify_message = document.getElementById("verify-message");
                verify_message.innerHTML = "Error: Could not verify";
                verify_message.removeAttribute('hidden');
            }
        });
    };

    function verify_deletion(userID)
    {
        $.ajax({
            url: "{% url 'verify_deletion' %}",
            type: "POST",
            data: { data: userID, 'csrfmiddlewaretoken': '{{ csrf_token }}' }, // data to pass
            // handle success
            success: function(json) {
                // alert("success");
                // on success remove the row
                var row = document.getElementById(userID);
                row.parentNode.removeChild(row);
                var verify_message = document.getElementById("deletion-verify-message");
                verify_message.innerHTML = "Successfully deleted user: " + json.userID;
                verify_message.removeAttribute('hidden');
            },
            // handle error
            error: function(xhr, errmsg, err) {
                // alert("error\nerrmsg: " + errmsg + "\nerr: " + err + "\nend\nStatus:" + xhr.status + ": " + xhr.responseText);
                var verify_message = document.getElementById("verify-message");
                verify_message.innerHTML = "Error: Could not verify";
                verify_message.removeAttribute('hidden');
            }
        });
    };

    function verify_deletion(userID)
    {
        $.ajax({
            url: "{% url 'verify_deletion' %}",
            type: "POST",
            data: { data: userID, 'csrfmiddlewaretoken': '{{ csrf_token }}' }, // data to pass
            // handle success
            success: function(json) {
                // alert("success");
                // on success remove the row
                var row = document.getElementById(userID);
                row.parentNode.removeChild(row);
                var verify_message = document.getElementById("deletion-verify-message");
                verify_message.innerHTML = "Successfully deleted user: " + json.userID;
                verify_message.removeAttribute('hidden');
            },
            // handle error
            error: function(xhr, errmsg, err) {
                // alert("error\nerrmsg: " + errmsg + "\nerr: " + err + "\nend\nStatus:" + xhr.status + ": " + xhr.responseText);
                var verify_message = document.getElementById("deletion-verify-message");
                verify_message.innerHTML = "Error: Could not verify deletion";
                verify_message.removeAttribute('hidden');
            }
        });
    }
</script>
{% endblock javascript %}
{% endblock %}
