<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'patients/dashboard.css' %}"/>
</head>

<body>
<nav class="sidebar">
    <ul>
        <li><img class="sidebar-logo" src="{% static 'patients/smartcare_logo.png' %}" alt="Smartcare logo"></li>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        {% if user.role == "admin" %}
        <li><a href="{% url 'registrations' %}">Registrations</a></li>
        <li><a href="{% url 'records' %}">Records</a></li>
        <li><a href="{% url 'reports' %}">Reports</a></li>
        <li><a href="{% url 'admin_invoices' %}">Invoices</a></li>
        {% endif %}
        {% if user.role == "doctor" or user.role == "nurse" %}
        <li><a href="{% url 'current_appointment' %}">Current appointment</a></li>
        <li><a href="{% url 'weekly_schedule' %}">Weekly schedule</a></li>
        <li><a href="{% url 'recent_patients' %}">Recent appointments</a></li>
        <li><a href="{% url 'doctor_prescriptions' %}">Prescription requests</a></li>
        <li><a href="{% url 'records' %}">Patient records</a></li>
        {% endif %}
        {% if user.role == "patient" %}
        <li><a href="{% url 'patient_prescriptions' %}">Prescriptions</a></li>
        <li><a href="{% url 'visit_history' %}">Visit history</a></li>
        <li><a href="{% url 'patient_invoices' %}">Invoices</a></li>
        {% endif %}
        <li><a href="{% url 'patient_settings' %}">Settings</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
</nav>
{% block main %}
{% endblock %}
</div>
</body>
</html>