{% extends "patients/dashboard_layout.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input id="autocomplete" placeholder="Enter your location" type="text" onFocus="geolocate()">
    <input type="submit" value="Sign Up">
</form>

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places&callback=initAutocomplete" async defer></script>
<script>
function initAutocomplete() {
    var autocomplete = new google.maps.places.Autocomplete(document.getElementById('autocomplete'), {types: ['geocode']});
    autocomplete.addListener('place_changed', function() {
        var place = autocomplete.getPlace();
        document.getElementById('id_location').value = place.formatted_address; // Update hidden field
    });
}
</script>
{% endblock %}
